@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
	font-family: "Micro 5";
	margin:0%;
	padding: 0%;
}
body{
	/* background-color: rgb(103, 101, 98); */
	background-color: rgb(31, 58, 80);
	/* background-color: rgb(104, 119, 132); */
}
.nav-wrapper{
    background-color: rgb(69, 81, 91);

}.h4-h6{
	color: aliceblue;
}
.brand-logo, h1{
font-family: 'Grand Hotel', 'cursive';
};
.myCard{
	margin-top: 10px ;
	
}
.login-card{
	
	text-align: center;
	padding:20px;
	max-width: 400px;
	margin: 60px auto;
 
}



.login-span{
  color:blue;
  cursor: pointer;
}

/* Profile section  */
.gallery{
	display:flex;
	gap:8px;
	flex-wrap: wrap;
}
.galleryPhotos{
	width: 30%;
	height: 200px;

}
#postName{
	color:black  ;

}
/* Home section  */

.home-card{
  margin:26px auto;
  max-width: 500px;
  height:max-content;
 
}
.abcd{
	background-color: 'red' !important ;
	border: "2 px solid red";
	cursor: pointer;
}
.commentInput{
	display: flex;
}
.deleteComment:hover{
	float: 'right';
	cursor: 'pointer'
}