@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
	/* font-family: "Micro 5"; */
	margin:0%;
	padding: 0%;
}
body{
	/* background-color: rgb(103, 101, 98); */
	
	background-color: rgb(58, 67, 74);
	 
	/* background-color: rgb(104, 119, 132); */
}
.nav-wrapper{
	
    background-color: rgb(69, 81, 91);

}
.nav-wrapper ul {
	
    padding: 0px;
    margin:0 1rem;
}

.h4-h6{
	color: aliceblue;
}
.brand-logo, h1{
font-family: 'Grand Hotel', 'cursive';
};
.myCard{
	margin-top: 10px ;
}
.login-card{
	text-align: center;
	padding:20px;
	max-width: 400px;
	margin: 60px auto;
 
}



.login-span{
  color:blue;
  cursor: pointer;
}

/* Profile section  */
.gallery{
	display:flex;
	gap:8px;
	flex-wrap: wrap;
}
.galleryPhotos{
	width: 30%;
	height: 200px;

}

/* Home section  */

.home-card{
  margin:26px auto;
  max-width: 500px;
  height:max-content;
 
}
.abcd{
	background: #f8f5f5;
	cursor: pointer;
}

.red-heart{
	
	font-size: 24px; /* Set the initial font size as needed */
	transition: opacity 0.3s ease, transform 0.3s ease;
	color:red;
	
}
.red-heart:hover{
	cursor: pointer;
	opacity: 0.8;
	color: red;
	transform: scale(1.5);
}
.commentInput{
	display: flex;
}
.deleteComment:hover{
	float: 'right';
	cursor: 'pointer';
} 